# 데이터 구조의 이해 (1): 차원과 배열-2

#### 작성자 - 고우주 | kubwa

In [1]:
import numpy as np
from IPython.display import Image

## 1- 1D 배열

In [2]:
# 하나의 행으로 벡터를 만듭니다.
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [3]:
# 하나의 열로 벡터를 만듭니다.
b = np.array([[1],[2],[3]])
b

array([[1],
       [2],
       [3]])

In [4]:
type(a), type(b)

(numpy.ndarray, numpy.ndarray)

In [5]:
a.shape

(3,)

In [6]:
b.shape

(3, 1)

In [7]:
a1 = np.arange(1, 13)  # numbers 1 to 12
a1.shape

(12,)

## 2- 2D 배열

In [8]:
a = np.array([[1, 2],
            [1, 2],
            [1, 2]])
a

array([[1, 2],
       [1, 2],
       [1, 2]])

In [9]:
a_0 = np.zeros((3, 2))
a_0

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [10]:
a_1 = np.ones((3, 2))
a_1

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

## 3- 배열 정보 확인

In [11]:
a.shape

(3, 2)

In [12]:
a_0.shape

(3, 2)

In [13]:
a_1.shape

(3, 2)

In [14]:
a.ndim

2

In [15]:
a_0.ndim

2

In [16]:
a.dtype

dtype('int64')

In [17]:
a_1.dtype

dtype('float64')

In [18]:
a_0.dtype

dtype('float64')

## 4- reshape( ) 배열 바꾸기

In [19]:
a1_2d = a1.reshape(3, 4)  # 3_4
a1_2d.shape

(3, 4)

In [20]:
a1.reshape(3, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [21]:
a1.reshape(-1, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [22]:
  # same as above: a1.reshape(3, 4)
a1.reshape(3, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [23]:
a1.reshape(3, -1)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [24]:
  # same as above: a1.reshape(3, 4)
a1.reshape(2, 6)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [25]:
a1.reshape(2, -1)  # same as above: a1.reshape(2, 6)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

## 5- reshape( ) 다른 방향으로

In [26]:
a1.reshape(3, 4) # reshapes or ‘fills in’ row by row

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [27]:
a1.reshape(3, 4, order='C') # same results as above

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [28]:
a1.reshape(3, 4, order='F')  # reshapes column by column

array([[ 1,  4,  7, 10],
       [ 2,  5,  8, 11],
       [ 3,  6,  9, 12]])

In [29]:
a1  # what's the shape?

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [30]:
a1.shape

(12,)

In [31]:
a1_1_by_12 = a1.reshape(1, -1)  # reshape to 1_12
a1_1_by_12

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]])

In [32]:
a1_1_by_12.shape  # 1_12 array

(1, 12)

## 6- Flatten( ), ravel( )로 1D arrays 사용

In [33]:
a1_2d  # 3_4

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [34]:
a1_2d.ravel()  # ravel by row (default order='C')

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [35]:
a1_2d.ravel(order='F')  # ravel by column

array([ 1,  5,  9,  2,  6, 10,  3,  7, 11,  4,  8, 12])

## 7- Concatenate/stack을 위한 np.stack( ) & np.hstack( )

In [36]:
a1 = np.arange(1, 13)
a2 = np.arange(13, 25)

In [37]:
a1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [38]:
a2

array([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

In [39]:
stack0 = np.stack((a1, a1, a2, a2))  # default stack along 0th axis
stack0.shape

(4, 12)

In [40]:
stack1 = np.stack((a1, a1, a2, a2), axis=1)
stack1.shape

(12, 4)

In [41]:
stack_long = np.hstack((a1, a2))
stack_long.shape

(24,)

## 8- 3차원 배열 만들기

In [42]:
a1 = np.arange(1, 13).reshape(3, -1)  # 3_4
a2 = np.arange(13, 25).reshape(3, -1)  # 3_4

In [43]:
a1

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [44]:
a2

array([[13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [45]:
a3_0 = np.stack((a1, a2))  # default axis=0 (dimension 0)
a3_1 = np.stack((a1, a2), axis=1)  # along dimension 1
a3_2 = np.stack((a1, a2), axis=2)  # along dimension 2

In [46]:
a3_0

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [47]:
a3_1

array([[[ 1,  2,  3,  4],
        [13, 14, 15, 16]],

       [[ 5,  6,  7,  8],
        [17, 18, 19, 20]],

       [[ 9, 10, 11, 12],
        [21, 22, 23, 24]]])

In [48]:
a3_2

array([[[ 1, 13],
        [ 2, 14],
        [ 3, 15],
        [ 4, 16]],

       [[ 5, 17],
        [ 6, 18],
        [ 7, 19],
        [ 8, 20]],

       [[ 9, 21],
        [10, 22],
        [11, 23],
        [12, 24]]])

## 9- 배열의 차원 인덱싱

In [49]:
# solutions
a3_0[0, :, :]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [50]:
a3_0[0]  # same as above

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [51]:
a3_1[:, 0, :]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [52]:
a3_2[:, :, 0]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

## 10- flatten( ), ravel( ) 배열 펼치기

In [53]:
a3_0

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]],

       [[13, 14, 15, 16],
        [17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [54]:
a3_0.ravel()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [55]:
a3_0.ravel(order='F')

array([ 1, 13,  5, 17,  9, 21,  2, 14,  6, 18, 10, 22,  3, 15,  7, 19, 11,
       23,  4, 16,  8, 20, 12, 24])

In [56]:
a3_0.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [57]:
a3_0.flatten(order='F')

array([ 1, 13,  5, 17,  9, 21,  2, 14,  6, 18, 10, 22,  3, 15,  7, 19, 11,
       23,  4, 16,  8, 20, 12, 24])

## 11- reshape( )로 3차원 바꾸기

In [58]:
a3_0.reshape(4, -1)  # reshape to 4_6 (row by row)

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24]])

In [59]:
a3_0.reshape(4, -1, order='F')  # reshape (column by column)

array([[ 1,  9,  6,  3, 11,  8],
       [13, 21, 18, 15, 23, 20],
       [ 5,  2, 10,  7,  4, 12],
       [17, 14, 22, 19, 16, 24]])

In [60]:
a3_0.reshape(4, 2, 3)  # reshape to 4_2_3 (row by row)

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24]]])

## 12- 배열의 전치(transpose)

In [61]:
# 행렬을 만듭니다.
matrix = np.array([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]])
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [62]:
# 행렬을 전치합니다.
matrix.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])