상권 종목 별 월평균 매출액 예측

시계열 데이터 변환

분기별 예측 R^2 80%이상

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
path = '../상권배후지추정매출/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]

In [3]:
file_list_py

['2014년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2015년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2016년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2017년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2018년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2019년_우리마을가게_상권서비스_상권배후지-추정매출.csv',
 '2020년_우리마을가게_상권서비스_상권배후지-추정매출.csv']

In [27]:
df = pd.DataFrame()
for i in file_list_py:
    data = pd.read_csv(path + i, encoding='cp949', thousands = ',')
    df = pd.concat([df,data])
df = df.reset_index(drop = True)
df.shape

(1434810, 80)

In [5]:
df.isna().sum()

기준_년_코드            0
기준_분기_코드           0
상권_구분_코드           0
상권_구분_코드_명         0
상권_코드              0
                  ..
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
점포수                0
Length: 80, dtype: int64

In [28]:
df.head()

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2014,1,A,골목상권,1000522,목동로9길,CS200041,사진관,161604397,3021,...,63,1450,1435,97,683,679,674,441,311,5
1,2014,1,A,골목상권,1000580,공항대로8길,CS100007,치킨전문점,352909128,14422,...,5746,8280,5597,256,3970,4688,2750,1707,510,19
2,2014,1,A,골목상권,1000507,가로공원로58길,CS200028,미용실,174625276,5695,...,289,2639,3044,130,1234,1561,1440,925,391,36
3,2014,1,A,골목상권,1000556,강서로18길,CS300035,인테리어,158530192,1571,...,30,395,1158,20,127,662,366,286,92,21
4,2014,1,A,골목상권,1000509,곰달래로2길,CS100007,치킨전문점,238151311,9718,...,4157,5763,3573,171,2165,3484,2160,1038,316,11

In [29]:
df['점포수']=df['점포수'].replace({0:1})

In [32]:
df['점포수']

0           5
1          19
2          36
3          21
4          11
           ..
1434805    15
1434806    34
1434807     5
1434808     4
1434809    94
Name: 점포수, Length: 1434810, dtype: int64